* {
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;

}

html {
    scroll-behavior: auto;
}

body {
    background-image: linear-gradient(to right, rgb(243, 110, 86), rgb(228, 77, 22), rgb(255, 72, 0), rgb(255, 102, 0), rgb(255, 115, 0));
}

.container {
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.containers {
    padding-top: 50px;
    background-color: white;
    width: 320px;
    height: 510px;
    text-align: center;
    margin-bottom: 35px;
}
@media (max-width: 600px){
    .container{
        margin-top: 40px;
    }
}
@media (min-width: 600px){
    .containers:nth-child(2){
        width:345px;
        height:560px;
        padding-top:50px;
        margin-top: -25px;
    }
}
/* trapizoid's feature */
.containers:nth-child(2){
    position:relative;
}
.trapezoid {
   border-bottom: 40px solid rgb(201, 32, 201);
   border-left: 35px solid transparent;
   border-right: 35px solid transparent;
   height: 0;
   width:130px;
   color:white;
   transform:rotatez(-50deg);
   margin-top: 39px;
   position:absolute;
   left: -60px;
   top:-6px;
}

.trapezoid p{
   padding-top :10px;
}
    

.containers h3 {
    font-size: xx-large;
}

.red {
    color: red
}

.purble {
    color: rgb(201, 32, 201)
}

.orange {
    color: orange
}

h1 {
    font-size: 30px;
    font-weight: 900;
}

span {
    font-size: medium;
}

.red1 {
    background-color: red;
}

.red2:hover {
    color: red
}

.purble1 {
    background-color: rgb(201, 32, 201);
}

.purble2:hover {
    color: rgb(201, 32, 201)
}

.orange1 {
    background-color: orange;
}
.orange2:hover{
    color:orange
}
a {
    text-decoration: none;
    display: block;
    height: 30px;
    width: 177px;
    margin: auto;
    padding-top: 8px;
    color: white;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
}

a:hover {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.p p {
    color: #888;
    margin-top: 20px;
    margin-bottom: 25px;

}

.fa-check {
    color: rgb(141, 209, 40)
}

.fa-xmark {
    color: rgb(202, 39, 39)
}

.webs {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin: auto;
    margin-bottom: 20px;
}

.webs p {
    font-weight: 500;
    font-size: larger;
}

h2 {
    padding-top: 10px;
}



